@model AmazingBank.DomainModel.Entities.Account

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Currency</label>
                <select name="currency"
                        asp-items="@(new SelectList(ViewBag.Currencies,"Code","Code"))"
                        class="form-control">
                    <option>Select the currency</option>
                </select>
                <label asp-for="Amount" class="control-label"></label>
                <input type="number" name="amount" class="form-control" />
                <!--<input asp-for="Amount" class="form-control" />
    <span asp-validation-for="Amount" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
